.cv{
    padding-top: 50px;
    background: $primaryGreen;
    display: flex;
    align-items: end;
    justify-content: center;
}
.cv a{
    text-decoration: none;
    color: $primaryGreen;
    background: $secondaryGreen;
    padding: 10px;
    border: 0.2rem solid $secondaryGreen;
}
.cv a:hover{
    color: $secondaryGreen;
    background: $primaryGreen;
    border: 0.2rem solid $secondaryGreen;
    transition: background 0.5s ease, border 0.5s ease, color 0.5s ease;
}