footer{
    background: $primaryGreen;
    color: $primaryTan;
    padding: 50px 100px 100px 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 5px $secondaryGreen;
}

.infos {
    font-family: Indivisible;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.infos a{
    text-decoration:underline;
    color: $primaryTan;
}
footer h3{
    color: $secondaryGreen;
}

.nameRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.nameRight img{
    width: 35px;
    height: 35px;
    padding-bottom: 8px;
}

@media screen and (max-width:1100px) {
    footer{
        padding: 50px 40px 100px 40px;
    }
}
@media screen and (max-width:960px) {
    .nameRight{
        display: none;
    }
}
@media screen and (max-width:640px) {
    footer{
        padding: 50px 25px 100px 25px;
    }
}
.cv{
    padding-top: 50px;
    background: $primaryGreen;
    display: flex;
    align-items: end;
    justify-content: center;
}
.cv a{
    text-decoration: none;
    color: $primaryGreen;
    background: $secondaryGreen;
    padding: 10px;
    border: 0.2rem solid $secondaryGreen;
}
.cv a:hover{
    color: $secondaryGreen;
    background: $primaryGreen;
    border: 0.2rem solid $secondaryGreen;
    transition: background 0.5s ease, border 0.5s ease, color 0.5s ease;
}