.header{
    color: $primaryGreen;
    background: $primaryTan;
    padding: 30px 100px 50px;
}

.header__navigationBar{

    display: flex;
    justify-content: space-between;
}

.header__navigationBar a {
    text-decoration: none;
    color: $primaryGreen;
}

.header__navigationBar__link{
    display: flex;
    gap: 50px;
}

.header__hero{
    padding: 150px 0;
}
.header__hero__mainTitle{
    padding-bottom: 30px;
}
.header__hero__links{
    display: flex;
    justify-content: space-between;

}

.header__hero__links a{
    color: $primaryGreen;
    text-decoration:underline;
    text-decoration-thickness: from-font;
}

.header__aboutMe{
    display: flex;
    background: $primaryGreen;
    color: $primaryTan;
    gap: 50px;
    padding: 30px;
    align-items: center;
}
.header__aboutMe p{
    margin: 0px;
}
@media screen and (max-width:1100px) {
    .header{
        padding: 25px 40px 50px 40px;
        
    }
    .header__hero__links a{
        font-size: 2.5rem;
    }
}
@media screen and (max-width:1020px) {
    .photo{
        display: none;
    }
    .header__aboutMe{
        gap: 0px;
    }

}
@media screen and (max-width:800px) {
    .header__navigationBar__link{
        .hide{
            display: none;
        }
    }
}
@media screen and (max-width:640px) {
    .header{
        padding: 25px 25px 50px 25px;
    }
    .header__hero__links{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .header__hero__links a{
        font-size: 3rem;
    }
    .header__hero{
        padding-bottom: 100px;
    }
}