html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: Glodok;
font-size: 5rem;
margin: 0;
}

h2 {
    font-family: Glodok;
font-size: 10rem;
font-weight: 400;
margin: 0;
}

h3 {
    font-family: Glodok;
    font-size: 5rem;
    font-weight: 400;
    margin: 0;
}

.button{
    font-family: Indivisible;
font-size: 2.5rem;
font-weight: 600;
margin: 0;
}
.specialButton{
    font-family: Indivisible;
font-size: 4rem;
font-weight: 300;
margin: 0;
}

p {
    font-family: Indivisible;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
}
.logo {
    font-family: Glodok;
font-size: 3.5rem;
margin: 0;
}
